/* Style the navbar */
.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #E12C38;
  box-shadow: 0 -3px #C8535B inset;
  transition: 0.2s;
}
.button7:hover { background: #191C21; }
.button7:active {
  background: #C8845A;
  box-shadow: 0 3px #C88653 inset;
}


#navbar {
overflow: hidden;
background-color: #191C21;
}

/* Navbar links */
#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
}

/* Page content */
.content {
padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
}
 
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}
}
.conten-wrapper{
    /*width: 1000px;*/
    /* ширина */
  /*  height: auto;*/
    /* высота */
    padding: 0px 20px 30px 30px;
    /*внутренние отступы - верх, право, низ, лево */
    margin: 20px auto;
    /* выравнивание по центру */
    font-family: "Times New Roman";
    /* нужный шрифт */
    ;
    font-size: 80%;
    text-align: justify;
}

@media print {
  .noprint{
    display: none;
  }

  table.border{
    border-collapse: collapse;
    margin:0px;
    margin:0px;
    font-size: 50%;
  }

}

table.border{
  border-collapse: collapse;
  margin-left:15vh;
  margin-top:40px;
}

.border th, .border tr, .border td {
  border: 1px solid black;
}
