       <div class="sidebar-wrapper" data-simplebar="true">
           <div class="sidebar-header">
               <div>
                   <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
               </div>
               <div>
                   <h4 class="logo-text">БОТ</h4>
               </div>
               <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
               </div>
           </div>
           <!--navigation-->
           <ul class="metismenu" id="menu">
               <li>
                   <a href="/admin">
                       <div class="parent-icon"><i class="bx bx-box"></i>
                       </div>
                       <div class="menu-title">Главная</div>
                   </a>
               </li>

               <li>
                   <a href="/log-out">
                       <div class="parent-icon"><i class="bx bx-log-out-circle"></i>
                       </div>
                       <div class="menu-title">Выход</div>
                   </a>
               </li>
           </ul>
           <!--end navigation-->
       </div>