/* Style the navbar */
.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #E12C38;
  box-shadow: 0 -3px #C8535B inset;
  transition: 0.2s;
}
.button7:hover { background: #191C21; }
.button7:active {
  background: #C8845A;
  box-shadow: 0 3px #C88653 inset;
}


#navbar {
overflow: hidden;
background-color: #191C21;
}

/* Navbar links */
#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
}

/* Page content */
.content {
padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}
.windows8 {
position: relative;
width: 78px;
height:78px;
margin:auto;
}

.windows8 .wBall {
position: absolute;
width: 74px;
height: 74px;
opacity: 0;
transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 10px;
height: 10px;
background: rgb(0,0,0);
left:0px;
top:0px;
border-radius: 10px;
}

.windows8 #wBall_1 {
animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
0% {
    opacity: 1;
    z-index:99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin:0%;
}

30% {
    opacity: 1;
    transform:rotate(410deg);
    animation-timing-function: ease-in-out;
    origin:7%;
}

39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin:30%;
}

70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin:39%;
}

75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin:70%;
}

76% {
opacity: 0;
    transform:rotate(900deg);
}

100% {
opacity: 0;
    transform: rotate(900deg);
}
}

@-o-keyframes orbit {
0% {
    opacity: 1;
    z-index:99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin:0%;
}

30% {
    opacity: 1;
    -o-transform:rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin:7%;
}

39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin:30%;
}

70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin:39%;
}

75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin:70%;
}

76% {
opacity: 0;
    -o-transform:rotate(900deg);
}

100% {
opacity: 0;
    -o-transform: rotate(900deg);
}
}

@-ms-keyframes orbit {
0% {
    opacity: 1;
    z-index:99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin:0%;
}

30% {
    opacity: 1;
    -ms-transform:rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin:7%;
}

39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin:30%;
}

70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:39%;
}

75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:70%;
}

76% {
opacity: 0;
    -ms-transform:rotate(900deg);
}

100% {
opacity: 0;
    -ms-transform: rotate(900deg);
}
}

@-webkit-keyframes orbit {
0% {
    opacity: 1;
    z-index:99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:0%;
}

30% {
    opacity: 1;
    -webkit-transform:rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin:7%;
}

39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:30%;
}

70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:39%;
}

75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:70%;
}

76% {
opacity: 0;
    -webkit-transform:rotate(900deg);
}

100% {
opacity: 0;
    -webkit-transform: rotate(900deg);
}
}

@-moz-keyframes orbit {
0% {
    opacity: 1;
    z-index:99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin:0%;
}

30% {
    opacity: 1;
    -moz-transform:rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin:7%;
}

39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin:30%;
}

70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:39%;
}

75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:70%;
}

76% {
opacity: 0;
    -moz-transform:rotate(900deg);
}

100% {
opacity: 0;
    -moz-transform: rotate(900deg);
}
}
.conten-wrapper{
    width: 1000px;
    /* ширина */
    height: 1400px;
    /* высота */
    padding: 0px 20px 30px 30px;
    /*внутренние отступы - верх, право, низ, лево */
    margin: 20px auto;
    /* выравнивание по центру */
    font-family: "Times New Roman";
    /* нужный шрифт */
    ;
    font-size: 130%;
    text-align: justify;
}



/*=======================================================================================*/
p.p1 {
    text-align: right;
    font-family: tahoma;
    font-size: 80%;
    margin-top: 0%;
}

p.f1 {
    text-align: left;
    font-family: tahoma;
    font-size: 90%;
    margin-top: -12%;
    margin-left: 1.2%;
}

p.o1 {
    text-align: left;
    font-family: tahoma;
    font-size: 14px;
    margin-top: -2.2%;
    margin-left: 2%;

}

.T00 {
    font-family: "Times New Roman";
    font-size: 110%;
    margin-left: 35.5%;
    margin-top: 4%;
    width: 32%;
    border-bottom: 3px solid #020202;
    padding: 0px 10px;
    text-align: center;
    font-weight: 900;
}

.T01 {
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 70%;
    margin-top: -25%;
    width: 25%;
    text-align: center;
}

.o2 {
    font-family: tahoma;
    font-size: 12.5px;
    white-space: nowrap;
}

.T011 {
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 65%;
    margin-top: 0%;
    border-bottom: 1px solid #020202;
    text-align: center;
    font-weight: 900;
}

.line1 {
    padding: 30px 90px 0px 30px;
    width: 46%;
    transform: rotate(90deg);
    writing-mode: lr-tb;
    display: block;
    margin-left: 413px;
    margin-top: 16.5%;
    font-family: "tahoma";
    text-align: center;
    font-size: 70%;
    border-bottom: 0.4px solid #020202;
}

.iin {
    border: 1px solid #020202;
    text-align: center;
    font-family: "tahoma";
    font-size: 90%;
    padding: 0px 15px;
}

.row {
    font-weight: 900;
    margin-left: 36%;
    margin-top: 0%;
}

.iin2 {
    width: 40%;
    border: none;
    font-weight: 500;
    font-family: "tahoma";
    font-size: 90%;
    margin-top: 0%;
    text-align: right;
}

.DT {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 80%;
    margin-left: 33.5%;
    margin-top: 1%;
}

.dts,
.nmdoc {
    width: 45%;
    border: 1px solid #020202;
    text-align: center;
}

.data,
.zb {
    border: 1px solid #020202;
    font-weight: 900;
    text-align: center;
}

.kvitan {
    font-family: "tahoma";
    font-size: 80%;
    margin-left: 70%;
    margin-top: 0%;
    width: 30%;
    text-align: center;
    font-weight: 500;
}

.prinyat {
    font-family: "tahoma";
    font-size: 12.5px;
    margin-left: 70%;
    margin-top: 5%;
    width: 35%;
    text-align: left;
    font-weight: 500;
}

.p12 {
    font-size: 60%;
    margin-left: 75%;
    margin-top: -1.5%;


}

.order {
    font-family: "tahoma";
    font-size: 120%;
    margin-top: -33%;
    margin-left: 15%;
}


.T1 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 19.5px;
    margin-left: 3.5%;
    margin-top: -0.5%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */

.kod,
.debet {
    padding: 10px 10px 10px 10px;
    border: 1px solid #020202;
    text-align: center;
}

.kredit {
    padding: 2px 7px 2px 7px;
    border: 1px solid #020202;
    text-align: center;
}

.summa {
    padding: 10px 10px 10px 10px;
    border: 1px solid #020202;
    text-align: center;
}

.debet2 {
    padding: 2px 15px 2px 15px;
    border: 1px solid #020202;
    text-align: center;
}

.summa2,
.kredit2 {
    padding: 2px 7px 2px 7px;
    border: 1px solid #020202;
    text-align: center;
}

.kod2 {
    padding: 2px 10px 2px 10px;
    border: 1px solid #020202;
    text-align: center;
}

.T2 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 3.5%;
    margin-top: -0.5%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */

.pr {
    padding: 20px 20px 0px 0px;
    text-align: left;
}

.kl {
    padding: 10px 0px;
    border-bottom: 1px solid #020202;
    text-align: left;
}

.os {
    padding: 1px 20px 0px 0px;
    text-align: center;
}

.os1 {
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-size: 19px;
}

.T3 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 100%;
    margin-left: 10%;
    margin-top: 1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.voz,
.kom {
    text-align: right;
    font-size: 18px;
}

.i {
    font-weight: 900;
    text-align: center;
}

.T4 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 3.5%;
    margin-top: 1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.summ {
    padding: 10px 25px 0px 0px;
    text-align: left;
}

.summ12 {
    padding: 10px 40px 0px 0px;
    border-bottom: 1px solid #020202;
    font-weight: 900;
    width: 510px;
}

.T5 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 3.5%;
    margin-top: 1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
}

.kass {
    padding: 10px 1px 0px 0px;
    text-align: left;
    font-size: 18px;
}

.pusto {
    padding: 10px 110px 0px 0px;
    text-align: right;
    border-bottom: 1px solid #020202;
    font-weight: 900;
    font-size: 80%;
}

.slesh {
    padding: 10px 10px 0px 0px;
    text-align: right;
    border-bottom: 1px solid #020202;
    font-weight: 900;
    font-size: 80%;
}

.kass1 {
    padding: 10px 45px 5px 0px;
    text-align: right;
    border-bottom: 1px solid #020202;
}

.pusto1 {
    padding: 0px 15px 10px 30px;
    font-size: 70%;
}

.kass2 {
    padding: 0px 15px 10px 15px;
    font-size: 70%;
}

.rko {
    margin-top: 0%;
    font-size: 100%;
}

.Pko {
    font-size: 100%;
}

.pdn {
    margin-left: 20px;
    margin-right: 20px;
}

.tiket {
    font-size: 93%;
}

/****************************************************************/
p.p101 {
    text-align: right;
    font-family: tahoma;
    margin-top: 3%;
    font-size: 90%;
}

p.f101 {
    text-align: left;
    font-family: tahoma;
    margin-top: -15%;
    margin-left: 0%;
}

.Too {
    margin-left: 0%;
    margin-top: 0%;
}

.o101 {
    padding: 10px 180px 1px 180px;
    font-size: 110%;
    font-family: "Times New Roman";
    border-bottom: 2px solid #020202;
    text-align: center;
    font-weight: 900;
}

.o1010 {
    text-align: center;
    font-family: tahoma;
    font-size: 15px;
    margin-top: 1%;
    margin-left: 0%;
}

.T0101 {
    font-family: "tahoma";
    font-size: 120%;
    margin-left: 65%;
    margin-top: 10%;
    width: 35%;
    border-bottom: 0.4px solid #020202;
    text-align: center;
    font-weight: 900;
}

.line01 {
    width: 1%;
    height: 50%;
    border-left: none;
    margin-left: 62.2%;
}

.row01 {
    width: 25%;
    font-weight: 900;
    margin-left: 75%;
    margin-top: 3%;
    font-size: 90%;
}

.iin01 {
    padding: 0px 5px 0px 5px;
    border: 0.5px solid #020202;
    text-align: center;
    font-family: "tahoma";
    margin-top: 0%;
}

.iin201 {
    ;
    text-align: right;
    border: none;
    font-weight: 500;
    font-family: "tahoma";
    white-space: nowrap;
}

.DT01 {
    width: 35%;
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 65%;
    margin-top: 1%;
    white-space: nowrap;
}

.dts01,
.nmdoc01 {
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid #020202;
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    text-align: center;
}

.data01,
.zb01 {
    border-bottom: 1px solid #020202;
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    font-weight: 900;
    text-align: center;
}

.order01 {
    font-family: "tahoma";
    font-size: 110%;
    margin-top: -3%;
    margin-left: 10%;
    color: #020202;
    font-weight: 500;
}

.T101 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 0.5%;
    margin-top: -0.5%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.debet01 {
    padding: 2px 20px 2px 20px;
    border: 1px solid #020202;
    text-align: center;
}

.kredit01 {
    padding: 2px 35px 2px 35px;
    border: 1px solid #020202;
    text-align: center;
}

.summa01 {
    padding: 10px 45px 10px 45px;
    border: 1px solid #020202;
    text-align: center;
}

.kod01 {
    padding: 10px 20px 10px 20px;
    border: 1px solid #020202;
    text-align: center;
}

.debet201 {
    padding: 2px 10px 2px 10px;
    border: 1px solid #020202;
    font-weight: 900;
    text-align: center;
}

.summa201,
.kredit201 {
    padding: 2px 7px 2px 7px;
    border: 1px solid #020202;
    font-weight: 900;
    text-align: center;
}

.kod201 {
    padding: 2px 10px 2px 10px;
    border: 1px solid #020202;
    font-weight: 900;
    text-align: center;
}

.T201 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 100%;
    margin-left: 0%;
    margin-top: 1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */

.pr01 {
    padding: 0px 20px 0px 10px;
    text-align: left;
}

.kl01 {
    padding: 5px 10px 0px 0px;
    border-bottom: 1px solid #020202;
    text-align: left;

    width:800px ;
}

.prop {
    padding: 0px 30px 5px 100px;
    font-size: 80%;
    width:50px ;
}

.ruc {
    padding: 10px 40px 0px 10px;
    text-align: left;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.dolzhnost01 {
    padding: 8px 30px 0px 40px;
    border-bottom: 1px solid #020202;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.slesh01 {
    padding: 10px 10px 0px 120px;
    border-bottom: 1px solid #020202;
}

.Fio {
    padding: 10px 1px 0px 0px;
    border-bottom: 1px solid #020202;
    font-weight: 900;
}

.dolzhnost101 {
    padding: 0px 10px 0px 40px;
    font-size: 65%;
}

.podpis01 {
    padding: 0px 50px 0px 50px;
    font-size: 65%;
}

.Fio01 {
    padding: 0px 50px 0px 40px;
    font-size: 65%;
}

.T202 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 0.5%;
    margin-top: -1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.pol {
    padding: 5px 80px 0px 5px;
    text-align: left;
}

.Fio02 {
    padding: 10px 88px 0px 13px;
    border-bottom: 1px solid #020202;
    font-weight: 900;
    white-space: nowrap;
}

.slesh02 {
    padding: 10px 30px 0px 10px;
    border-bottom: 1px solid #020202;
}

.dt02 {
    padding: 10px 50px 0px 10px;
}

.T203 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 90%;
    margin-left: 0.5%;
    margin-top: -1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.ud {
    padding: 10px 20px 0px 5px;
    border-bottom: 1px solid #020202;
    white-space: nowrap;
}

.nomer {
    padding: 10px 60px 0px 0px;
    border-bottom: 1px solid #020202;
}

.dtv {
    padding: 10px 50px 0px 0px;
    border-bottom: 1px solid #020202;
    white-space:nowrap;
}

.organ {
    padding: 10px 95px 0px 0px;
    border-bottom: 1px solid #020202;
    text-align: right;
    white-space:nowrap;
}

.naim {
    padding: 0px 70px 0px 70px;
    font-size: 65%;
    text-align: center;
}

.T204 {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    font-family: "tahoma";
    font-size: 100%;
    margin-left: 0.5%;
    margin-top: -1%;
}

/* padding: 10 10 10 10; внутренние отступы - верх, право, низ, лево */
.Fio03 {
    padding: 10px 230px 10px 10px;
    border-bottom: 1px solid #020202;
    font-weight: 900;
    white-space: nowrap;
}

.pol01 {
    padding: 5px 45px 0px 5px;
    text-align: left;
    white-space: nowrap;
}

.Fio04 {
    padding: 0px 100px 0px 40px;
    font-size: 65%;
}

/*=======================================================================================*/
           .identification {
    border-bottom: 1px solid black;
    padding-right: 2%;
    padding-left: 2%;
}

article+article {
    page-break-before: always;
}

footer {
    display: block;
}

.otmk {
    text-align: left;
    padding-bottom: 2%;
    padding-top: 2%;
}

.kl11 {
    font-weight: 900;
    width: 6%;
    white-space: nowrap;
}

.p {
    margin-top: 3%;
    white-space: nowrap;
}

.newPage {
    page-break-before: always;
}

.newPage1 {
    page-break-before: always;
    font-size: 90%;
}

/*Бирка на товар*/
.birka2,
.name {
    text-align: center;
    margin-right: 10%;
    margin-top: 10;
    font-weight: 900;
}

.birka1 {
    border: 1px solid #020202;
    padding: 0px 10px 10px 10px;
    width: 650px;
    height: 120px;
    margin-top: 5%;
    font-size: 90%;
}

.explanation {
    font-size: 90%;
    margin-top: -2%;
}

.list2 {
    page-break-before: always;
}

@page {
    margin: 1cm;
}

/*Бирка на товар*/
th {
    text-align: left;
}

.pledger {
    padding-left: 2%;
}

.mp {
    width: 5%;
}



/*=======================================================================================*/
.it {
    font-style: italic;
    margin-top: -0.4%;
    font-size: 80%;
}

.nr {
    font-weight: 500;
}

.profile {
    margin-top: 0%;
}

.opis {
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin-top: -1%;
    margin-bottom: 0.5%;
}

.opisNo {
    border: 1px solid #020202;
    text-align: center;
}

* стилизация содержимого страницы */
body {
font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: #292b2c;
background-color: #fff;
}

/* свойства модального окна по умолчанию */
.modal{
position: fixed; /* фиксированное положение */
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.5); /* цвет фона */
z-index: 1050;
opacity: 0; /* по умолчанию модальное окно прозрачно */
-webkit-transition: opacity 200ms ease-in;
-moz-transition: opacity 200ms ease-in;
transition: opacity 200ms ease-in; /* анимация перехода */
pointer-events: none; /* элемент невидим для событий мыши */
margin: 0;
padding: 0;
}
/* при отображении модального окно */
.modal:target {
opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
  max-width: 500px;
  margin: 30px auto; /* для отображения модального окна по центру */
}
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/* border: 1px solid rgba(0,0,0,.2); */
border-radius: .3rem;
outline: 0;
}
@media (min-width: 768px) {
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
/* свойства для заголовка модального окна */
.modal-header {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
padding: 15px;
border-bottom: 1px solid #eceeef;
}
.modal-title {
margin-top: 0;
margin-bottom: 0;
line-height: 1.5;
font-size: 1.25rem;
font-weight: 500;
text-align: center;
}
/* свойства для кнопки "Закрыть" */
.close {
float: right;
font-family: sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .5;
text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
color: #000;
text-decoration: none;
cursor: pointer;
opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
position: relative;
-webkit-box-flex: 1;
-webkit-flex: 1 1 auto;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
padding: 15px;
overflow: auto;
}
.add_palitra {
display: block;
width: 100px;
height: 150px;
position: fixed;
right: 10%;
bottom: 5%;
z-index: 150;
}
.add_palitra img{
width: 100px;
}

.palitra {
display: block;
width: 100px;
height: 150px;
position: fixed;
left: 10%;
bottom: 2%;
z-index: 150;
}






.submit:active, .submit:hover, .submit:focus {
outline: 0;
outline-offset: 0;
box-shadow: none;
outline: none;
border: none;
}
.submit{
background: #191C21;
color: #fff;
outline: none;
border: none;
margin-top: 15px;
}
.button13 {
display: inline-block;
width: 100%;
font-size: 80%;
color: rgba(255,255,255,.9);
text-shadow: #2e7ebd 0 1px 2px;
text-decoration: none;
text-align: center;
line-height: 1.1;
white-space: pre-line;
padding: .7em 0;
border: 1px solid;
border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
border-radius: 6px;
outline: none;
background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
box-shadow: inset rgba(255,255,255,.5) 1px 1px;
}
.button13:first-line{
font-size: 170%;
font-weight: 700;
}
.button13:hover {
color: rgb(255,255,255);
background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
.button13:active {
color: rgb(255,255,255);
border-color: #2970a9;
background-image: linear-gradient(#5796c8, #6aa2ce);
box-shadow: none;
}
@media print {
.modal-body {
    font-size: 14px;
width:300px;
height:800px
border: 1px solid black;
}
.noprint{
display:none;
}
.print{
display:block;
}
}
      .table{
        margin: 10%;
        width: 100%;
    }
    .table th{
        text-align: center;
    }

    .indent{
/*        text-indent: 30px;*/
        margin: 30px;
    }
    .conten-wrapper{
    width: 1000px;
    /* ширина */
    height: 1400px;
    /* высота */
    padding: 0px 20px 30px 30px;
    /*внутренние отступы - верх, право, низ, лево */
    margin: 20px auto;
    /* выравнивание по центру */
    font-family: "Times New Roman";
    /* нужный шрифт */
    ;
    font-size: 130%;
    text-align: justify;
}
.requisites {
    margin-top: 0%;
    padding-top: 0;
    width: 1000px;
}
      .pledger {
    padding-left: 2%;
}

table{
    border-collapse: collapse;
}

.table1{
    font-size: 20px;

}
.border th{
    border: 1px solid black;
    height: 20px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
.border td{
    border: 1px solid black;
    height: 20px;
    text-align: center;
}
.prlzh{
    margin-left: 650px;
    text-align: center;
    width: 300px;
    white-space: nowrap;
}

.zagolovok{
    text-align: center;
}
.dogovor{
    font-size: 13,5px;
}
.dd {
    margin-left: 750px;
}
